{% extends 'templates/app.twig'%}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default ">
                <div class="panel-heading">

                    {% if auth.check %}
                        Welcome
                        {{ auth.user.name }}!
                    {% else %}
                        <br>
                        Who dis?U hackerz?!
                    {% endif %}
                </div>
                <div class="panel-body panel-flexfix text-center">
                    <img src=" {{ base_url()}}/../public/images/users/{{ auth.user.id }}.jpg" class="img-responsive img-circle" alt="user image">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    Users in DB:
                    <b>{{ DBController.userList|length }}</b>
                </div>
                <div class="panel-body">
                    <h4>USERS:</h4>
                    <hr>
                    <br>
                    <div id="userContainer" class="pre-scrollable">
                        {% if DBController.userList %}
                            {# {{ DBController.userList |json_encode() }} #}
                            {% for user in DBController.userList %}
                                <img style="display:inline-block;width:5vw;height:auto;" src=" {{ base_url()}}/../public/images/users/{{ auth.user.id }}.jpg" class="img-responsive img-thumbnail" alt="user image">
                                <p style="display:inline-block;">
                                    {{ user.id }}
                                    :
                                    {{user.name}}
                                </p>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    Courses in DB:
                    <b>{{ DBController.getCoursesList|length }}</b>
                </div>
                <div class="panel-body">
                    <h4>Courses:</h4>
                    <hr>
                    <br>
                    <div id="courseContainer" class="pre-scrollable">
                        {% if DBController.getCoursesList %}
                            <ul>
                                {% for course in DBController.getCoursesList %}
                                    <ol>
                                        <img style="display:inline-block;width:5vw;height:auto;" src=" {{ base_url()}}/../public/images/courses/{{ course.id }}.jpg" class="img-responsive img-circle" alt="user image">
                                        <p style="margin-left:5px;display:inline-block;">
                                            {{course.id}}:
                                            {{course.name}}
                                            <ul>
                                                <li>
                                                    <b>
                                                        duration:
                                                        {{course.start_date}}
                                                        until:
                                                        {{course.end_date}}
                                                    </b>
                                                </li>
                                                <li>{{course.description}}</li>
                                            </ul>
                                            <hr>
                                            <p>
                                        </ol>

                                    {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}